@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/archivo/archivo-v6-latin-regular.eot');
  src: local('Archivo Regular'), local('Archivo-Regular'),
       url('/assets/fonts/archivo/archivo-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/archivo/archivo-v6-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/archivo/archivo-v6-latin-regular.woff') format('woff'),
       url('/assets/fonts/archivo/archivo-v6-latin-regular.ttf') format('truetype'),
       url('/assets/fonts/archivo/archivo-v6-latin-regular.svg#Archivo') format('svg');
}

* {
  font-family: Archivo, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #fff;
  color: #24252f;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
}

h1 {
  color: #24252f;
  font-size: 82px;
  letter-spacing: 8px;
  margin: 0 0 20px 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
}

p {
  margin: 8px 0;
}

p a {
  color: #24252f;
  border-bottom: 1.5px dashed #24252f;
}

.wrapper {
  display: table;
  min-height: 98vh;
  width: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content__description {
  margin: 0 auto;
  max-width: 800px;
}

.content__description p svg {
  margin-bottom: -5px;
}

@media screen and (max-width: 700px) {
  .content__description {
    padding: 0 20px;
  }
}

.content__social {
  list-style-type: none;
  padding: 0;
}

.content__social li {
  display: inline-block;
  padding: 0 8px;
}

.content__social li svg {
  color: #24252f;
  border-bottom: 2px solid transparent;
  height: 35px;
  padding: 5px;
  width: 35px;
}

.content__social li svg:hover {
  border-bottom: 2px solid #24252f;
}

@media screen and (max-width: 700px) {
  .content__social li {
    display: inline-block;
    padding: 0 10px;
  }

  .content__social li svg {
    width: 25;
    height: 25;
  }
}

.u-spacer {
  height: 16px;
}
