* {
  font-family: "Archivo", sans-serif;
  letter-spacing: 1.5px;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #24252f;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
}

h1 {
  color: #fafafa;
  font-size: 82px;
  letter-spacing: 8px;
  margin: 0 0 20px 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
}

p {
  margin: 8px 0;
}

code {
  font-family: "Menlo", monospace;
}

.wrapper {
  display: table;
  min-height: 98vh;
  width: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content__description {
  margin: 0 auto;
  max-width: 800px;
}

.content__description p svg {
  margin-bottom: -5px;
}

@media screen and (max-width: 700px) {
  .content__description {
    padding: 0 20px;
  }
}

.content__social {
  list-style-type: none;
  padding: 0;
}

.content__social li {
  display: inline-block;
  padding: 0 8px;
}

.content__social li svg {
  padding: 5px;
  width: 35;
  height: 35;
}

.content__social li svg:hover {
  border-right: 2px solid #fff;
}

@media screen and (max-width: 700px) {
  .content__social li {
    display: inline-block;
    padding: 0 10px;
  }

  .content__social li svg {
    width: 25;
    height: 25;
  }
}

.u-spacer {
  height: 16px;
}

.u-underline {
  border-bottom: 2px solid #fff;
}
