<html>

    <head>
        <title>Web Computing Revision</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4.0/styles/solarized_light.min.css">
        <script src="//cdn.jsdelivr.net/highlight.js/8.4.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body>
        
        <h1>Web Computing Revision</h1>
        
        <div class="slide">
            <h3>AJAX</h3>
            <p>Stands for Asynchronous JavaScript and XML. A way of making asynchronous calls to a server and not having to replace a whole web page, only the parts we select.</p>
            <pre>
                <code>
var AJAXRequest = new XMLHttpRequest();
AJAXRequest.open("GET", "http://myserver.com/records/1", true);
AJAXRequest.send();
                </code>
            </pre>
        </div>
        
        <div class="slide">
            <h3>JavaScript Form Validation</h3>
            <p>Regular expressions can be used to validate forms. For this we use the <i>onsubmit=""</i> and use regular expressions in JS.</p>
            <pre>
            <code>
var checkForm = function(form) {
    var regularExp = /\(d{1,5})\s\d{1,6}/;
    return regularExp.test(form.phone.value);
};

&lt form id="myForm" onsubmit="return checkForm(this);"&gt
        </code>      
            </pre>
        </div>
        
        
        <div class="slide">
            <h3>JSP</h3>
            <p>Stands for Java Server Pages. Allows Java to be written inside HTML. The process for conversion is a follows:</p>
                <ul>
                    <li>The JSP Handler is invoked</li>
                    <li>If the page has been called before then exectute existing servlet</li>
                    <li>Build a servlet from the JSP page and execute</li>
                </ul>
            
            <p><b>JSP Expressions</b> are evaluated as a string</p>
            
            <pre>
                <code>
<%= date %>
                </code>
            </pre>
            
            <p><b>JSP Scriptlets</b> are included in the service() method</p>
            
            <pre>
                <code>
<% Drum lowKick = new Kick("lowKick", true); %>
                </code>
            </pre>
            
            <p><b>JSP Declarations</b> are included <u>outside</u> the service() method</p>
            
            <pre>
                <code>
<%! public int getValue() { return this.myVar; } %>
                </code>
            </pre>
            
            <p><b>JSP Directives</b> are used to specify properties of the servlet eg. extend a class</p>
            
            <pre>
                <code>
<%@ page import="java.util.*" extends="ArrayList" session="true" %>
                </code>
            </pre>
            
            <p><b>JSP Actions</b> are to specify an action within the page eg. a redirect</p>
            
            <pre>
                <code>
&lt jsp:forward page="myNewPage.jsp"/&gt
                </code>
            </pre>
        </div>
        
        <div class="slide">
            <h3>DOM</h3>
            <p>Document Object Model, we can access the DOM through Java with a few libraries. The basic process is to read in a file, make changes then write it out.</p>
            
            <pre>
                <code>
import org.w3c.dom.*;
import javax.xml.*;
import org.xml.*;

public class Example {

    private Document doc;

    public void readInFile() {
        DocumentBuilderFactory fact = DocumentBuilderFactory.newInstance();
        DocumentBuilder builder = fact.newDocumentBuilder();
        currentDoc = builder.parse(new File("myFile.xml")); 
    }
    
    public void modifyFile() {
        NodeList nodes = doc.getElementsByTagName("TAG");
        for (int i = 0; i &lt nodes.getLength() i++) {
            Node node = nodes.item(i);
            Text nodeText = (Text) node.getChildNodes().item(0);
            String content = nodeText.getNodeValue();
            Text newNodeText = doc.createTextNode(content + " NEW");
            RAMNode.replaceChild(newNodeText, nodeText);
    }
    
    public void writeFile() {
        //details of this don't matter
        FileWriter.writeFile(doc, "myFile.xml");
    }
    
    public static void main(String[] args) {
        Example ex = new Example();
        ex.readInFile();
        ex.modifyFile();
        ex.writeFile();
    }
}
                </code>
            </pre>
        
        </div>
    </body>
</html>