* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.slide p, ul {
    color: #5c5c5c;
}

/*
.slide pre {
    padding: 10px;
    background: #c4d6de;
    width: 60%;
    
}*/
