* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

body {
    background-color: #2f2f2f !important;
}

/* header */
h1.name {
    color: #FFF;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 2em;
    text-align: left;
    margin-bottom: 30px;
}

ul.nav {
    margin-top: -5px;
    margin-right: 5px;
}

ul.nav li {
    font-size: 1em;
}

ul.nav li a {
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
}

ul.nav a:hover .fa {
    color: #f77bc7;
}

ul.nav li a:hover {
    background-color: #2f2f2f;
}

/* content */
#content {
    margin-top: 50px;
}

.panel.info-panel {
    max-width: 90%;
    min-height: 300px;
    margin: 0 auto;
}

.panel.info-panel.panel-default .panel-heading {
    border: none;
    background-image: none;
    background-color: #d1d1d1;
}

.panel.info-panel h3.panel-title {
    text-align: left;
    font-weight: bold;
}

.panel.info-panel h3.panel-title span {
    padding: 0px;
    font-size: 0.9em;
}

.panel.info-panel h3.panel-title .fa.close-button {
    color: #ff6464;
}

.panel.info-panel h3.panel-title .fa.minimise-button {
    color: #ffc950;
}

.panel.info-panel h3.panel-title .fa.maximise-button {
    color: #58b228;
}

.panel.info-panel h3.panel-title .fa {
    color: #434343;
}

.panel.info-panel.panel-default .panel-body {
    width: 100%;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .row {
    width: 100%;
    margin: 0 auto;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .bio {
    color: #000;
}

.panel.info-panel.panel-default .panel-body .bio .col-md-12 {
    color: #000;
}