* {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
}

body {
    background-color: #2f2f2f !important;
}

/* header */
h1.name {
    color: #FFF;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 2em;
    text-align: left;
    margin-bottom: 30px;
}

.panel.info-panel {
    max-width: 100%;
    min-height: 300px;
    margin: 0 auto;
}

.panel.info-panel.panel-default .panel-heading {
    border: none;
    background-image: none;
    background-color: #d1d1d1;
}

.panel.info-panel h3.panel-title {
    text-align: left;
    font-weight: bold;
}

.panel.info-panel h3.panel-title span {
    padding: 0px;
    font-size: 0.9em;
}

.panel.info-panel h3.panel-title .fa.close-button {
    color: #ff6464;
}

.panel.info-panel h3.panel-title .fa {
    color: #434343;
}

.panel.info-panel.panel-default .panel-body {
    width: 100%;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2em;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-style: italic;
    color: #3b3b3b;
}

.panel.info-panel.panel-default .panel-body .row {
    width: 100%;
    margin: 0 auto;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .bio {
    color: #333;
    font-size: 1em;
}

.panel.info-panel.panel-default .panel-body .bio a {
    text-decoration: underline;
    color: #000;
}

.panel .btn-default {
    text-shadow: none;
    background: #008daf;
    border: 3px solid #008daf;
    color: #fff;
    -webkit-box-shadow: none;
}

.panel .btn-default:hover {
    text-shadow: none;
    background: #029ec4;
    border: 3px solid #029ec4;
    color: #fff;
    -webkit-box-shadow: none;
}

.panel .btn-default:focus {
    text-shadow: none;
    background: #029ec4;
    border: 3px solid #029ec4;
    color: #fff;
    -webkit-box-shadow: none;
}

/* content */
#content {
    margin-top: 100px;
}

.intro-info  {
    font-size: 1.1em;
    color: #000;
}

.intro-info p {
    color: #000;
}

.highlighted {
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
}

#intro {
    margin: 0 auto;
    height: auto;
    width: 100%; 
    position: relative;
    padding: 0 0;
}

#about { 
/*    background: url(../resc/about.jpg) 100% 0 fixed; */
    background: #96a9b5;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative;
    box-shadow: 0 0 70px rgba(30,30,30,0.8);
    font-size: 1em;
}

#about .profile-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 70%;
    font-size: 1.1em;
}

#about .profile-text a {
    text-decoration: underline;
}

#about .row h1 {
    font-size: 3.5em;
    font-weight: bold;
}

#about .col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}

#about i.nav-icon {
    color: #444;
}

#about a {
    color: #FFF;
    text-decoration: none;
}

#about a:hover {
    color: #FFF;
    text-decoration: underline;
}

#contact {
    background: #FFF;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 70px rgba(30,30,30,0.8);
}

#contact .container {
    height: 100%;
    width: 50%;
    font-size: 1em;
    color: #444;
}

.contact-me a:hover {
    text-decoration: none;
}

#contact .container h1 {
    font-weight: 900;
    font-size: 4em;
}

#contact .container h1 i {
    color: #444;
}

#contact .container h4 {
    color: #999;
}

#contact .container h4 a, a:hover {
    color: #777;
    text-decoration: underline;
}

.media-links {
    margin-top: 50px;
    font-size: 2em;
}
.media-links i.nav-icon.fa {
    color: #FFF;
}

.media-links a {
    padding: 3px;
}

.media-links i.fa {
    color: #444;
}

.media-links a:hover {
    text-decoration: none;
}

.footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    font-size: 1em;
    color: #000;
}

.footer a {
    color: #000;
    text-decoration: underline;
}

.footer a:hover {
    color: #000;
}