* {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
}

body {
    background-color: #2c2c2c !important;
}

/* header */
h1.name {
    color: #FFF;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 2em;
    text-align: left;
    margin-bottom: 30px;
}

.panel.info-panel {
    max-width: 100%;
    min-height: 300px;
    margin: 0 auto;
    border: none;
}

.panel.info-panel.panel-default .panel-heading {
    border: none;
    background-image: none;
    background-color: #6f757c;
}

.panel.info-panel h3.panel-title {
    text-align: left;
    font-weight: bold;
}

.panel.info-panel h3.panel-title span {
    padding: 0px;
    font-size: 0.9em;
}

.panel.info-panel h3.panel-title .fa.close-button {
    color: #f71034;
}

.panel.info-panel h3.panel-title .fa {
    color: #383838;
}

.panel.info-panel.panel-default .panel-body {
    width: 100%;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2em;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-style: italic;
    color: #141414;
}

.panel.info-panel.panel-default .panel-body .row {
    width: 100%;
    margin: 0 auto;
    color: #000;
}

.panel.info-panel.panel-default .panel-body .bio {
    color: #333;
    font-size: 1em;
}

.panel.info-panel.panel-default .panel-body .bio a {
    text-decoration: underline;
    color: #000;
}

.panel .btn-default {
    text-shadow: none;
    background: #038cad;
    border: 3px solid #038cad;
    color: #ffffff;
    -webkit-box-shadow: none;
}

.panel .btn-default:hover {
    text-shadow: none;
    background: #029ec4;
    border: 3px solid #029ec4;
    color: #fff;
    -webkit-box-shadow: none;
}

.panel .btn-default:focus {
    text-shadow: none;
    background: #029ec4;
    border: 3px solid #029ec4;
    color: #fff;
    -webkit-box-shadow: none;
}

/* content */
#content {
    margin-top: 100px;
}

.intro-info  {
    font-size: 1.1em;
    color: #000;
}

.intro-info p {
    color: #000;
}

.highlighted {
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
}

#intro {
    margin: 0 auto;
    height: auto;
    width: 100%; 
    position: relative;
    padding: 0 0;
}

#about {
    background: #2c2c2c;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative;
/*    box-shadow: 0 0 70px rgba(30,30,30,0.8);*/
    font-size: 1.3em;
}

#about h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

#about, #projects h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}

#about .row {
    margin: auto;
    width: 96%;
}

#about b {
    color: #555;
}

#about .skills {
    color: #555;
    min-height: 100px;
}

#about .stacks h2 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

#about .stacks {
    padding: 20px;
    color: #555;
    background: #FFF;
    min-height: 500px;
    font-size: 1em;
    border: solid 6px #2c2c2c;
}

#about .elaborated {
    color: #555;
    text-align: justify;
    font-size: 0.95em;
    margin-top: 40px;
    margin-bottom: 5px;
}

#about a {
    color: #555;
    text-decoration: underline;
}

#about i.fa {
    color: #444;
}

#about .info h2 {
    font-size: 24px;
}

#about .info {
    color: #444 ;
    background: #FFF;
    min-height: 250px;
    border: solid 6px #45566a;
    margin-top: 3px;
    margin-bottom: 15px;
}

#projects {
    background: #face15;
    background-image: url("/resc/projects-md.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative;
    box-shadow: 0 0 70px rgba(30,30,30,0.8);
    font-size: 1.3em;
}

@media (max-width: 800px) {
    #projects {
        background-image: url("/resc/projects-mob.jpg");
        background-position: center;
        background-repeat: repeat-y;
    }
}

@media (min-width: 2658px) {
    #projects {
        background-image: url("/resc/projects-lg.jpg");
    }
}

#projects h1 {
    font-family: 'Permanent Marker', cursive;
    color: #4d596a;
}

#projects .container {
    height: 100%;
    width: 100%;
    font-size: 0.9em;
    color: #444;
    padding-bottom: 10px;
}

#projects .row {
    margin: auto;
    width: 100%;
}

#projects .projects {
    background: #fff;
    padding: 5px;
    min-height: 480px;	
    border: 5px solid rgba(0,0,0,0);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    -moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    background-clip: content-box;
}

#projects .elaborated {
    padding: 20px;
    color: #555;
    text-align: justify;
}

#projects .projects .image {
    min-height: 150px;
}

#projects .projects .twoticks img {
    width: 25%;
}

#projects .projects .vizit img {
    width: 45%;
}

#projects .projects .stravadora img {
    width: 30%;
}

#projects .projects h2 {
/*    text-transform: uppercase;*/
    font-weight: bold;
    padding-bottom: 15px;
    color: #555;
}

#projects a:hover {
    text-decoration: none;
}

#projects .elaborated a {
    text-decoration: underline;
    color: #555;
}

#contact {
    background: #FFF;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 70px rgba(30,30,30,0.8);
}

#contact .container {
    height: 100%;
    width: 50%;
    font-size: 1em;
    color: #444;
}

.contact-me a:hover {
    text-decoration: none;
}

#contact .container h1 {
    font-weight: 900;
    font-size: 4em;
}

#contact .container h1 i {
    color: #444;
}

#contact .container h4 {
    color: #999;
}

#contact .container h4 a, a:hover {
    color: #777;
    text-decoration: underline;
}


@media (max-width: 48px) {
    .media-links {
        font-size: 1em;
    }
}

.media-links {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
}

@media (max-width: 400px) {
    .media-links {
        font-size: 1.6em
    }
}

.media-links i.nav-icon.fa {
    color: #FFF;
}

.media-links a {
    padding: 3px;
}

.media-links i.fa {
    color: #444;
}

.media-links a:hover {
    text-decoration: none;
}

.footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    font-size: 1em;
    color: #000;
}

.footer a {
    color: #000;
    text-decoration: underline;
}

.footer a:hover {
    color: #000;
}